name: Databricks Repo Sync

on:
  push:
    branches:
      - dev
      - main

jobs:
  sync_databricks_repo:
    runs-on: ubuntu-latest
    environment: Databricks
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Databricks CLI
        run: pip install databricks-cli

      - name: Check if Databricks Repo exists and sync
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          REPO_PATH: ${{ vars.REPO_PATH }}/${{ github.ref_name }}
          GIT_REPO_URL: ${{ vars.REPO_URL }}
          GIT_BRANCH: ${{ github.ref_name }}
        run: |
          # Check if repo exists
          REPO_EXISTS=$(databricks repos list --path "$REPO_PATH" --output JSON | jq '.repos | length')

          if [ "$REPO_EXISTS" -eq 0 ]; then
            echo "Databricks Repo does not exist. Creating it."
            databricks repos create --path "$REPO_PATH" --url "$GIT_REPO_URL" --provider GITHUB --branch "$GIT_BRANCH"
          else
            echo "Databricks Repo exists. Updating it."
            databricks repos update --path "$REPO_PATH" --branch "$GIT_BRANCH"
          fi