name: Databricks Repo Sync
on:
  push:
    branches:
      - dev
      - main

env:
  REPO_PATH: ${{ vars.REPO_PATH }}
  GIT_REPO_URL: ${{ vars.REPO_URL }}

jobs:
  sync_databricks_repo:
    runs-on: ubuntu-latest
    environment: Databricks
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Databricks CLI
        # Use a static version for the action checkout, not the ref_name
        uses: databricks/setup-cli@v0.205.0 # Replace with a specific, stable version
        with:
          databricks-host: ${{ secrets.DATABRICKS_HOST }}
          databricks-token: ${{ secrets.DATABRICKS_TOKEN }}

      - name: Deploy Databricks Asset Bundle
          run: databricks bundle deploy -t ${{ github.ref_name }} # Or your target environment
          env:
            DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
            DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}