name: Databricks Repo Sync

on:
  push:
    branches:
      - dev
      - main

env:
  REPO_PATH: ${{ vars.REPO_PATH }}
  GIT_REPO_URL: ${{ vars.REPO_URL }}
  # GIT_BRANCH: ${{ github.ref_name }}

jobs:
  sync_databricks_repo:
    runs-on: ubuntu-latest
    environment: Databricks

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@${{ github.ref_name }}
        with:
          databricks-host: ${{ secrets.DATABRICKS_HOST }}
          databricks-token: ${{ secrets.DATABRICKS_TOKEN }}
      
      # Added step to install jq
      - name: Install jq
        run: |
          sudo apt-get update && sudo apt-get install -y jq

      - name: Check if Databricks Repo exists and sync
        run: |
          # Check if repo exists
          REPO_EXISTS=$(databricks repos list --path "$REPO_PATH/${{ github.ref_name }}" --output JSON | jq '.repos | length')

          if [ "$REPO_EXISTS" -eq 0 ]; then
            echo "Databricks Repo does not exist. Creating it."
            databricks repos create --path "$REPO_PATH/${{ github.ref_name }}" --url "$GIT_REPO_URL" --provider GITHUB --branch ${{ github.ref_name }}
          else
            echo "Databricks Repo exists. Updating it."
            databricks repos update --path "$REPO_PATH/${{ github.ref_name }}" --branch ${{ github.ref_name }}
          fi
