name: Databricks Notebook Deployment

on:
  push:
    branches:
      - dev  # Trigger on push to dev branch
      - main # Trigger on push to main branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@v0.2.0
        with:
          databricks-host: ${{ secrets.DATABRICKS_HOST }}
          databricks-token: ${{ secrets.DATABRICKS_TOKEN }}

      - name: Update Databricks Git Folder
        run: |
          databricks repos update --path /Repos/DABproject2025/${{ github.ref_name }} --branch ${{ github.ref_name }}
